.hide
  display: none !important

.filter-add
  margin-left: 10px
  font-size: 14px
  text-decoration: none
  &:hover
    text-decoration: underline

g-popup + .filter-add
  margin-left: 45px

.show-title
  padding-right: 5px
  color: #999

.show-link
  color: #999 !important
  text-decoration: none
  &.hide
    display: inline !important
    color: #12C !important

.gs-webResult div.gs-visibleUrl-long
  display: inline
