
.filter-add {
  color: #1122CC !important;
  font-size: 90%;
  text-decoration: none;
}

.filter-add:hover {
  text-decoration: underline;
}

.show-title {
  color: #999 !important;
  font-size: 90%;
}

.show-link {
  color: #999 !important;
  font-size: 90%;
  text-decoration: none;
}
