
.hide
  display: none

.filter-add
  margin-left: 18px
  vertical-align: middle
  color: #12C !important
  text-decoration: none
  &:hover
    text-decoration: underline

.show-title
  padding-right: 5px
  color: #999

.show-link
  color: #999 !important
  text-decoration: none
  &.hide
    display: inline
    color: #12C !important

.gs-webResult div.gs-visibleUrl-long
  display: inline
