
.ui-front
  z-index: 1000

.ui-dialog textarea
  box-sizing: border-box
  width: 100% !important
  resize: none

.gfp
  display: flex !important
  flex-direction: column
  .slick-sort-indicator
    float: none
  a
    outline: 0
  .button-icon
    height: 16px
    width: 16px
  .row:last-child
    flex-grow: 1
  .grid
    height: 100%
  .slick-cell
    display: flex
    input
      flex: 2
      min-width: 0
    &:first-child
      white-space: pre
  .slick-header-column:not(:first-child), .slick-cell:not(:first-child)
    text-align: right
