
.ui-front {
  z-index: 1000 !important;
}

.ui-dialog textarea {
  box-sizing: border-box;
  width: 100% !important;
  resize: none;
}

.gfp {
  display: flex !important;
  flex-direction: column;
}

.gfp .row:last-child {
  flex-grow: 1;
}

.gfp a {
  outline: 0;
}

.gfp .button-icon {
  height: 16px;
  width: 16px;
}
